<ion-view hide-nav-bar="true" >
    <ion-content padding="true" class="has-header">
        <form>
          <div class="" style="text-align:center; ">
          </div>
            <ion-list>
              <h1 class="menuHead">in bloom admin login</h1>
              <label class="item item-input" style="border-radius:5px;">
                <i style="font-size:30px;" class="icon ion-ios-email-outline placeholder-icon"></i>
                <input type="email" placeholder="Email" ng-model="data.email">
              </label>
              <br>
              <label class="item item-input" style="border-radius:5px;">
                <i style="font-size:30px;" class="icon ion-ios-locked-outline placeholder-icon"></i>
                <input type="password" placeholder="Password" ng-model="data.password">
              </label>
          </ion-list>
          <br>
      <div ng-click="loginEmail(data)"  class="hoursButton">login</div>
    <br>
<div style="font-style:italic; text-align:center; color:grey;" ui-sref="menu.home">return to signage</div>
  <br>
<div style="font-style: bold;text-align:center">email: owner@flower.com</div>
  <br>
<div style="font-style:bold; text-align:center">password: owner</div>
    </ion-content>
</ion-view>
