<ion-view hide-nav-bar="true" title="inbloom" id="page3" class=" ">
  <ion-header-bar class="" style="height: 40px; 2px solid black">
  <div  class="col text-left">
    <div ui-sref="menu.home" id="icon" class="" style="margin-right: 3px">signage</div>
    <div id="icon" class="ion-ios-rose" style="margin-right: 10px; font-size: 25px; padding: 2px" ng-click="errandBack()"></div>
</div>
    <div  class="col text-right">
    <div id="icon" class="ion-android-walk" style="margin-right: 10px; font-size: 25px; padding: 2px" ng-click="errand()">?</div>
    <div id="icon"ng-click="logout()" class="">logout</div>
</div>
  </ion-header-bar>
<ion-content padding="true" class="has-header">
  <h1 class="menuHead">hours of operation</h1>
<div id="wkdayMenu">
  <label class="row" style="border-bottom: 2px solid black"ion-datetime-picker time am-pm ng-model="form.mfam">
     <div class="col" style="font-size: 20px">M - F AM Open</div>
     <div class="col">Current Time: {{amhour| date: "h:mm a"}}</div>
     <div class="col">New Time: {{form.mfam| date: "h:mm a"}}</div>
 </label>
 <label class="row" style="border-bottom: 2px solid black"ion-datetime-picker time am-pm ng-model="form.mflunch">
    <div class="col" style="font-size: 20px">M - F Lunch</div>
    <div class="col">Current Time: {{lunchBreak| date: "h:mm a"}}</div>
    <div class="col">New Time: {{form.mflunch| date: "h:mm a"}}</div>
</label>
<label class="row" style="border-bottom: 2px solid black"ion-datetime-picker time am-pm ng-model="form.mfpm">
   <div class="col" style="font-size: 20px">M - F PM Open</div>
   <div class="col">Current Time: {{pmhour| date: "h:mm a"}}</div>
   <div class="col">New Time: {{form.mfpm| date: "h:mm a"}}</div>
</label>
<label class="row" style="borde-bottomr: 2px solid black"ion-datetime-picker time am-pm ng-model="form.mfclose">
   <div class="col" style="font-size: 20px">M - F Close</div>
   <div class="col">Current Time: {{closingTime| date: "h:mm a"}}</div>
   <div class="col">New Time: {{form.mfclose| date: "h:mm a"}}</div>
</label>
</div>
<div class="col">
<div ng-click="saveHours()" id="" class="hoursButton" style="">save new hours</div>
</div>
 <div style="height: 10px"></div>
  <div class="menuHead col">open saturday?</div>
   <div id="saturdayRadios" class="col">
<div class="row">
<ion-radio class="col col-50" ng-model="choice" ng-value="'yesSat'" ng-click="yesSat()">Yes</ion-radio>
<ion-radio class="col col-50" ng-model="choice" ng-value="'noSat'" ng-click="noSat()">No</ion-radio>
</div>
</div>
 <div id="menuSat"class="hide">
   <label class="row" style="border-bottom: 2px solid black"ion-datetime-picker time am-pm ng-model="satform.satam">
      <div class="col" style="font-size: 20px">SAT AM Open</div>
      <div class="col">Current Time: {{satamhour| date: "h:mm a"}}</div>
      <div class="col">New Time: {{satform.satam| date: "h:mm a"}}</div>
  </label>
  <label class="row" style="border-bottom: 2px solid black"ion-datetime-picker time am-pm ng-model="satform.satlunch">
     <div class="col" style="font-size: 20px">SAT Lunch</div>
     <div class="col">Current Time: {{satlunchBreak| date: "h:mm a"}}</div>
     <div class="col">New Time: {{satform.satlunch| date: "h:mm a"}}</div>
 </label>
 <label class="row" style="border-bottom: 2px solid black"ion-datetime-picker time am-pm ng-model="satform.satpm">
    <div class="col" style="font-size: 20px">SAT PM Open</div>
    <div class="col">Current Time: {{satpmhour| date: "h:mm a"}}</div>
    <div class="col">New Time: {{satform.satpm| date: "h:mm a"}}</div>
 </label>
 <label class="row" style=""ion-datetime-picker time am-pm ng-model="satform.satclose">
    <div class="col" style="font-size: 20px">SAT Close</div>
    <div class="col">Current Time: {{satclosingTime| date: "h:mm a"}}</div>
    <div class="col">New Time: {{satform.satclose| date: "h:mm a"}}</div>
 </label>
 <div ng-click="saveHoursSat()"  class="hoursButton">save new saturday hours</div>
</div>

<div style="height: 10px"></div>

  <div class="col menuHead" style="">open sunday?</div>
  <div id="sundayRadios" class="col">
<div class="row">
<ion-radio class="col col-50" ng-model="choice" ng-value="'yesSun'" ng-click="yesSun()">Yes</ion-radio>
<ion-radio class="col col-50" ng-model="choice" ng-value="'noSun'" ng-click="noSun()">No</ion-radio>
</div>
</div>
<div id="menuSun"class="hide">
  <label class="row" style="border-bottom: 2px solid black"ion-datetime-picker time am-pm ng-model="sunform.sunam">
     <div class="col" style="font-size: 20px">SUN AM Open</div>
     <div class="col">Current Time: {{sunamhour| date: "h:mm a"}}</div>
     <div class="col">New Time: {{sunform.sunam| date: "h:mm a"}}</div>
 </label>
 <label class="row" style="border-bottom: 2px solid black"ion-datetime-picker time am-pm ng-model="sunform.sunlunch">
    <div class="col" style="font-size: 20px">SUN Lunch</div>
    <div class="col">Current Time: {{sunlunchBreak| date: "h:mm a"}}</div>
    <div class="col">New Time: {{sunform.sunlunch| date: "h:mm a"}}</div>
</label>
<label class="row" style="border-bottom: 2px solid black"ion-datetime-picker time am-pm ng-model="sunform.sunpm">
   <div class="col" style="font-size: 20px">SUN PM Open</div>
   <div class="col">Current Time: {{sunpmhour| date: "h:mm a"}}</div>
   <div class="col">New Time: {{sunform.sunpm| date: "h:mm a"}}</div>
</label>
<label class="row" ion-datetime-picker time am-pm ng-model="sunform.sunclose">
   <div class="col" style="font-size: 20px">SUN Close</div>
   <div class="col">Current Time: {{sunclosingTime| date: "h:mm a"}}</div>
   <div class="col">New Time: {{sunform.sunclose| date: "h:mm a"}}</div>
</label>
<div ng-click="saveHoursSun()"  class="hoursButton">save new saturday hours</div>

</div>
<div style="height: 10px"></div>

<div class="col menuHead" style="">view missed customers?</div>
<div id="sundayRadios" class="col">
<div class="row">
<ion-radio class="col col-50" ng-model="choice" ng-value="'yesCust'" ng-click="yesCust()">Yes</ion-radio>
<ion-radio class="col col-50" ng-model="choice" ng-value="'noCust'" ng-click="noCust()">No</ion-radio>
</div>
</div>
<div id="customerMenu" class="hide">
  <div ng-click="selectCurrentCustomer(i)" class="col"style="border:3px rgb(192,216,240) solid; background-color:#ffffff; border-radius:5px; margin: 2px" ng-repeat="i in customers">
    <div style="font-size: 15px; padding: 2px; margin: 5px; font-weight:bold;">Name: {{i.name}}
    <span id="cordoEm" class="ion-ios-trash"ng-click="deleteCust(i)" style="font-size: 35px; float: right;"></span></div>
    <div style="font-size: 15px; padding: 2px; margin: 5px;">Phone Number: {{i.num}}</div>
    <div style="font-size: 15px; padding: 2px; margin: 5px;">Email: {{i.email}}
    <span id="cordoEm" ng-click="selectCurrentCustomer(i); checkCordovaAvail()" style="">Email?</span>
    </div>
  </div>
  </div>
    </ion-content>
</ion-view>
