<ion-view hide-nav-bar="true" title="in bloom" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
      <div class="row" style="">
      <div id="leftside" class="col col-67" style="border: 2px solid black; height: 695px; background-color: rgb(192,216,240)">

        <div class="col" style="background-color:#fafafa; border: 2px solid black; position: relative; border-radius: 4px;">
          <div class="row">
          <img id="inbloomlogo" class="col col-50" src="img/flowershoplogo.png" style="" alt="">
          <div id="inbloom" class="col" style="">in bloom</div>
          </div>
        </div>


        <div style="height: 15px;margin-top: 15px"></div>
        <div id="statusmsg" class="col" style="">{{status}}</div>
        <div id="errandmsg" class="col hide" style="">out for delivery</div>
        <div style="height: 20px;margin: 10px"></div>

    <div id="hoursofop"style="">HOURS OF OPERATION</div>
     <!-- <div style="border: 2px solid black" >{{amhour| date: "h:mm a"}}</div> -->
     <div>
       <h4 class="col" style="text-align: center">monday through friday</h4>
<div id="timeList" class="row">
       <div class="col" style="">{{amhour| date: "h:mm a"}}</div>
       <span style="">to</span>
       <div class="col" style="">{{lunchBreak| date: "h:mm a"}}</div>
    <span  style="">AND</span>
    <div class="col">{{pmhour| date: "h:mm a"}}</div>
    <span >to</span>
    <div class="col">{{closingTime| date: "h:mm a"}}</div>
  </div>

  <h4  class="col" style="text-align: center">saturday</h4>
  <div id="closeSat" class="col hide" style="text-align: center; font-size: 28px">closed</div>
  <div id="satHours" class="row">
         <div class="col" style="">{{satamhour| date: "h:mm a"}}</div>
         <span style="">to</span>
         <div class="col">{{satlunchBreak| date: "h:mm a"}}</div>
      <span>AND</span>
      <div class="col">{{satpmhour| date: "h:mm a"}}</div>
      <span>to</span>
      <div class="col" style="">{{satclosingTime| date: "h:mm a"}}</div>
    </div>
    <h4 class="col" style="text-align: center">sunday</h4>
      <div id="closeSun" class="col hide" style="text-align: center; font-size: 28px">closed</div>
    <div id="sunHours" class="row">
           <div class="col">{{sunamhour| date: "h:mm a"}}</div>
           <span >to</span>
           <div class="col" style="">{{sunlunchBreak| date: "h:mm a"}}</div>
        <span>AND</span>
        <div class="col">{{sunpmhour| date: "h:mm a"}}</div>
        <span>to</span>
        <div class="col">{{sunclosingTime| date: "h:mm a"}}</div>
      </div>
</div>

      </div>
  <div id="rightSide"class="col col-33" style="border: 2px solid black; height: 695px; background-color:#ededed">
<div id="timeClock" style="font-family: Lora; background-color:black;border: 2px solid black; padding: 0; position: relative; text-align: center; height: 90px; border-radius: 2px">
<h1 style="padding: 2px; color: #ffff7f">{{clock | date:"fullDate" }}</h1>
<h1 style="color: #ffff7f">{{clock | date:"h:mm a" }}</h1>
</div>
<div id="emailSubmit" class="hide">
  <div style="height: 20px"></div>
  <div style="padding: 3px; text-align: center; font-size: 22px">Sorry we missed you!</div>
  <div style="padding: 3px; text-align: center">Please leave us your info and we'll get back to you ASAP!</div>
  <form class="formMsg col" style="padding: 10px; ">
      <div class="">
        <input class="col" placeholder="Name" ng-model="msg.name">
        <input class="col" placeholder="Email Address" ng-model="msg.email">
        <input class="col" placeholder="Phone Number" ng-model="msg.num">

     <div ng-click="savemsg()" id="glass" class="" style="border: 2px solid black; font-size:20px; padding: 2px; text-align: center;  background-color: rgb(192,216,240)">SEND</div>
        <div id="thankYou" class="hide">THANK YOU! WE WILL CONTACT YOU SOON!</div>
      </div>
  </form>
</div>
<!-- <div style="border: 2px solid black;height:250px;margin: 10px"> -->
<div id="firstInsta" style="" ng-repeat="p in pics |  limitTo: 2 ">
  <!-- <a href="{{p.link}}" target="_blank">
      <img class="inPhotos col" style="" ng-src="{{p.images.low_resolution.url}}" ></a> -->

      <a href="#" onclick="window.open('https://www.instagram.com/inbloomprettyflowers/', '_blank', 'location=no'); return false;"  target="_blank">
          <img class="inPhotos col" style="" ng-src="{{p.images.low_resolution.url}}" ></a>

      <!-- <a style="display: none"id="mapClick" class="item" href="#" onclick="window.open('http://beta.roktech.net/GhostGearBustersMap/', '_blank', 'location=no'); return false;">
              View Map
          </a><br /> -->
    <!-- <div href="{{p.link}}" target="_blank">
      <img class="inPhotos col" style="" ng-src="{{p.images.low_resolution.url}}" ></div> -->
  </div>


  <!-- <div id="secInsta" class="hide" style="" ng-repeat="p in pics | limitTo: 1">
      <a href="{{p.link}}" target="_blank">
      <img style="height:250px; width: 95%; margin: 5px" ng-src="{{p.images.low_resolution.url}}" /></a>
    </div> -->

<!-- </div> -->
<div class="col">
<div ng-click="ownerLogin()" style="display: inline-block; float: right"> login</div>
<img ng-click="ownerLogin()" src="img/flowershoplogo.png" style="width: 50px; display: inline-block; float: right" alt="">
</div>
</div>
        <!-- <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div> -->
      </div>


    </ion-content>
</ion-view>
