<ion-view hide-nav-bar="true" title="Home" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
      <div class="row" style="">
      <div id="leftside" class="col col-67" style="border: 2px solid black; height: 690px; background-color: rgb(192,216,240)">

        <div class="col" style="background-color:white; border: 2px solid black; position: relative">
          <div class="row">
          <img id="inbloomlogo" class="col col-50" src="img/flowershoplogo.png" style="" alt="">
          <div id="inbloom" class="col" style="">in bloom</div>
          </div>
        </div>


        <div style="height: 15px;margin-top: 15px"></div>
        <div id="statusmsg" class="col" style="">{{status}}</div>
        <div style="height: 20px;margin: 10px"></div>

    <div id="hoursofop"style="">HOURS OF OPERATION</div>
     <!-- <div style="border: 2px solid black" >{{amhour| date: "h:mm a"}}</div> -->
     <div>
       <h4 class="col" style="text-align: center">monday through friday</h4>
<div id="timeList" class="row">
       <div class="col" style="">{{amhour| date: "h:mm a"}}</div>
       <span style="">to</span>
       <div class="col" style="">{{lunchBreak| date: "h:mm a"}}</div>
    <span  style="">AND</span>
    <div class="col">{{pmhour| date: "h:mm a"}}</div>
    <span >to</span>
    <div class="col">{{closingTime| date: "h:mm a"}}</div>
  </div>

  <h4  class="col" style="text-align: center">saturday</h4>
  <div id="closeSat" class="col hide" style="text-align: center; font-size: 28px">closed</div>
  <div id="satHours" class="row">
         <div class="col" style="">{{satamhour| date: "h:mm a"}}</div>
         <span style="">to</span>
         <div class="col">{{satlunchBreak| date: "h:mm a"}}</div>
      <span>AND</span>
      <div class="col">{{satpmhour| date: "h:mm a"}}</div>
      <span>to</span>
      <div class="col" style="">{{satclosingTime| date: "h:mm a"}}</div>
    </div>
    <h4 class="col" style="text-align: center">sunday</h4>
      <div id="closeSun" class="col hide" style="text-align: center; font-size: 28px">closed</div>
    <div id="sunHours" class="row">
           <div class="col">{{sunamhour| date: "h:mm a"}}</div>
           <span >to</span>
           <div class="col" style="">{{sunlunchBreak| date: "h:mm a"}}</div>
        <span>AND</span>
        <div class="col">{{sunpmhour| date: "h:mm a"}}</div>
        <span>to</span>
        <div class="col">{{sunclosingTime| date: "h:mm a"}}</div>
      </div>

</div>

      </div>
  <div id="rightSide"class="col col-33" style="border: 2px solid black; height: 690px">
<div id="timeClock" style="font-family: Lora; background-color:white; border: 2px solid black; padding: 0; position: relative; text-align: center; height: 100px">
<h1>{{clock | date:"fullDate" }}</h1>
<h1>{{clock | date:"h:mm a" }}</h1>
</div>
<div style="border: 2px solid black;height:250px;margin: 10px"></div>
<div style="border: 2px solid black;height:250px;margin: 10px"></div>


<img ng-click="ownerLogin()" src="img/flowershoplogo.png" style="width: 50px; display: inline-block; float: right" alt="">
  </div>

        <!-- <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div> -->
      </div>


    </ion-content>
</ion-view>
